<% provide(:title, 'Home') %>
<h1>Sample App</h1>
<p>
  This is tAhoj  Ahoij moje strategie je , ze me zavreli.he home page for the
his is tAhoj  Ahoij moje strategie je , ze me zavreli.he hom - pujdes sedet.
 This is tAhoj  Ahoij moje strategie je , ze me zavreli.he home page for the
his is tAhoj  Ahoij moje strategie je , ze me zavreli.he hom - pujdes sedet.
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial-TAK TO JE</a>
  sample application.
</p>